img {
	height: auto;
}

.global-footer .copyright {
	padding: 5px 0;
}


.panel-heading .triangle {
	z-index: 99;
}

#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    content: "\e600";
    font-family: 'CaGov' !important;
}

a,abbr,acronym,address,applet,b,big,blockquote,body,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,html,i,iframe,img,ins,kbd,label,legend,object,pre,q,s,samp,small,span,strike,strong,sub,sup,tt,u,var{margin:0;padding:0;border:0;outline:0;background:0 0;}

.course-item {
	.thumbnail {
		img {
			max-width: 60px;
		}
	}
}

.event-detail {
	.thumbnail {
		max-width: 150px;
	}
}

.publication-list {
	.pub-item:nth-child(odd) {
		background: #fafafa;
	}

	.pub-item:nth-child(even) {
		background: #f0f0f0;
	}
}

// profile banner

.profile-detail {
	.profile-image {
		max-width: 150px;
	}
}

.profile-banner .inner {
	background-size: contain !important;
}

.google-search {
	background-color: rgb(255,255,255);
    border-radius: 0;
    border: 3px solid transparent;
    transition: border .4s;
    outline: 0;
    padding: 5px;
    font-size: 1.1rem;
    opacity: .8!important;
    width: 100%;
	display: flex;
	position: relative;

	.search-box {
		background: none;
		border: none;
		width: 100%;
		font-size: 1.1rem;
		margin-right: 10px;
		background: url(https://www.google.com/cse/static/images/1x/googlelogo_lightgrey_46x16dp.png) left center no-repeat;
		padding-left: 50px;
	}

	.search-button {
		background: none;
    	border: none;
    	font-size: 30px;
    	padding: 0 5px;
	}
}

.clear-search {
	position: absolute;
	right: -45px;
	top: 0;
    cursor: pointer;
    display: none;
    font-size: 35px;
    background: none;
    border: none;
    padding: 0;
}

body.active-search {
	.clear-search {
		display: block;
	}

	.search-results-header {
		.clear-search {
			display: none;
		}
	}
}

// footer section
.et-db #et-boc {
	.et_pb_ca_section_footer .et_pb_ca_section_footer_group ul {
		padding: 0 0 23px 1em;
		line-height: 26px;
		
		li {
			a {
				border-bottom: 1px solid #000;
			}
		}
	}
}


// fancybox 

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(assets/img/fancybox_sprite.png);
}


// WP standard alignment classes

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
